# This is Git's per-user configuration file.
[user]
# Please adapt and uncomment the following lines:
#	name = vagrant
#	email = vagrant@vagrant.vm
[user]
	name = didierrevelo
	email = 1829@holbertonschool.com
